[2018-10-22 13:51] micmath opened #7 "Fix breakout box layout"
<img width="845" alt="screen shot 2018-10-22 at 14 41 26" src="https://user-images.githubusercontent.com/81645/47296310-cc927480-d609-11e8-9100-c874b5ab3693.png">

[2018-10-22 14:07] micmath opened #8 "Fix Breakout Box Layout"

[2018-10-22 14:10] #8 closed, assigned to nobody

[2018-10-25 11:02] Heydon opened #9 "Promo issues"
"Semantics" → This should be "When to use a Promo"? We're in danger of repeating the canonical GEL doc here, so I think it should be very brief and link to the GEL page.

"The purpose of a promo is to tease content" → teasing content? Aren't we teasing the reader? Not sure about this. I suggest we go with "The purpose of a promo is to preview content" or "The purpose of a promo is to provide a tea

[2018-10-30 13:44] micmath opened #10 "Responsive Image Atomic Component"
It might be useful to have a quick and simple responsive image component included, similar to the [Bootstrap Responsive Image](https://getbootstrap.com/docs/4.1/content/images/) component. This could be included in the Promo Component for example, and then reused in other components later.

[2018-10-30 14:06] #10 closed, assigned to Heydon

[2018-10-30 14:25] Heydon opened #11 "Information Panel & hare Tools listed as one component"
@micmath https://www.dropbox.com/s/nq3ng7ud024edfx/project-spec.pdf?dl=0

?

[2018-11-01 19:09] #11 closed, assigned to nobody

[2018-11-02 11:45] ant-cookie-01 opened #13 "Inconsistent link styling"
See attached images. Occurs throughout.

All links should be Bold and Underlined.

In the first paragraph **_Introduction_** links are styled differently.

![inconsistent-formatting](https://user-images.githubusercontent.com/44369887/47913295-7fc55e00-de93-11e8-8682-2e7270ddf1b1.png)

Further, under **_Expected Layout_**
![inconsistent-formatting2](https://user-images.githubusercontent.com/4436988

[2018-11-02 11:58] ant-cookie-01 opened #14 "Styling of promos"
Could the promo examples be styled more?
<img width="386" alt="screen shot 2018-11-02 at 11 45 45" src="https://user-images.githubusercontent.com/44369887/47913748-1cd4c680-de95-11e8-9f6e-2cfe0dbbc7fd.png">

**Markup:**
![styling-markup-promo](https://user-images.githubusercontent.com/44369887/47914163-830e1900-de96-11e8-9dc7-8ebef9ae60fb.png)

[2018-11-02 12:36] #13 closed, assigned to micmath

[2018-11-02 13:50] JamieKnightBBC opened #16 "Promos link styles reliant on colour change."
The links on the promo demo rely on colour change to indicate hover states.The MAG requires that colour never be used alone to convey meaning: https://www.bbc.co.uk/guidelines/futuremedia/accessibility/mobile/design/colour-and-meaning

I've attached an overkill of screenshots below showing the current styles ;)

Sidebar with hover:
<img width="193" alt="" src="https://user-images.githubusercontent

[2018-11-02 14:01] JamieKnightBBC opened #17 "Unable to distinguish between landmarks of the same type."
The Promos page: https://bbc.github.io/code-gel/components/promos/ makes extensive use of landmarks.

However landmarks of the same type cannot be distinguished from each other in the context of the landmarks menu in Voiceover. This makes navigating by landmark difficult.

Various documents and advice^ recommends giving landmarks of the same time a label in order to aid navigation.

![vo landmarks

[2018-11-02 14:04] JamieKnightBBC opened #18 "Content of promo examples."
The promo examples here: https://bbc.github.io/code-gel/components/promos/#expected-markup use real news stories as examples. Both stories are very timely / have a political connection.

Perhaps other news stories (nature / science?) or other types of example content would be more appropriate for the audience of the tutorial and to prevent the documenting becoming dated.

[2018-11-02 14:09] JamieKnightBBC opened #19 "Abbreviations used without definition"
On the promos page: https://bbc.github.io/code-gel/components/promos/#expected-markup

The term SEO is used without being defined earlier in the page or using the abbr element.

[2018-11-02 15:12] JamieKnightBBC opened #20 "Reference links are difficult to understand without additional context"
The referencing method on the promo page uses links with numbers (something like [3]).

The links appears in the link list on AT with just the number and it's unclear what the links does or is. See photos below showing the VO link list. It took me a while to understand what I was looking at.

Not sure what could be done to improve the situation. Perhaps a hidden label, or expanding the link to cov

[2018-11-02 15:59] #18 closed, assigned to micmath

[2018-11-05 11:18] #16 closed, assigned to micmath

[2018-11-05 11:39] Heydon opened #22 ":focus-visible global styling"
The following lets us enhance to using `:focus-visible` where supported, and it should probably be used as a global style or adopted across all GelUI components. If focus styles do not show for mouse users, we can afford to make them much bolder and clearer :-)

[code]

Currently, I use it in the tabs interface like

[code]

[2018-11-05 14:28] #9 closed, assigned to nobody

[2018-11-05 16:16] #7 closed, assigned to nobody

[2018-11-07 11:40] Heydon opened #24 "Include SVG icons from BBC Iconography"
Demos so far just have text and/or missing icons.

[2018-11-07 11:42] Heydon opened #25 "Fill out dummy links"
Some links are stubbed out with `#link-todo`. Search and fix.

[2018-11-07 11:45] Heydon opened #26 "Externalize JS"
JS currently lives in demo files, which is not maintainable when one component demo includes another component (like the Carousel using Promos).

Externalize each file and use an array (or comma sep) form for script inclusion. Iterate over the names to include separate files.

[code]

[2018-11-07 22:21] micmath opened #28 "Tabs demo sets focus on initial load"
**What I did:**

[code]

... Open in FireFox [62.0.3 (64-bit)]
http://localhost:8888/code-gel/components/tabs

**What I observed:**

The page loads and immediately scrolls down to show the first tabpanel in the window with the tab panel focus style active. (see attached screen capture)

![screenshot 2018-11-07 22 08 12](https://user-images.githubusercontent.com/81645/48164370-32ede700-e2da-11e8-8a

[2018-11-08 13:46] #26 closed, assigned to micmath

[2018-11-08 14:37] #28 closed, assigned to micmath

[2018-11-08 14:39] #14 closed, assigned to nobody

[2018-11-08 15:02] #19 closed, assigned to micmath

[2018-11-15 12:53] ant-cookie-01 opened #32 "Styling of Related Accessibility Guidelines and Related Research sections of guideline."
At the moment these 2 sections of the guideline are a little messy and difficult to follow.
Please see attached image for recommended styling:

**Related accessibility guidelines**

<img width="802" alt="screen shot 2018-11-15 at 12 52 10" src="https://user-images.githubusercontent.com/44369887/48554069-54039880-e8d5-11e8-9140-67595eb6cc97.png">

**Related research**

<img width="766" alt="screen

[2018-11-16 13:58] micmath opened #33 "Promos: Heading and Anchor nesting?"
Our guidance is currently for this structure:
[code]
Would the following variation be acceptable?
[code]

[2018-11-16 14:04] micmath opened #34 "Promos: Have a second anchor for image?"
Our guidance recommends that the promo have a single `<a>` for the heading element, and the related image is then given a click handler via JS that simulates the Anchor element behaviour.

Would it be okay to have two `<a>` elements, if one was hidden via aria? Like:

[code]

[2018-11-16 14:09] micmath opened #35 "Promos: section instead of div?"
Our guidance show an example where each list item contains a div element. Would it be okay to use a `section` element instead?

[code]

[2018-11-16 14:55] #32 closed, assigned to micmath

[2018-12-17 10:20] Heydon opened #36 "Keep headings consistent"
Currently, we use "Recommended" in place of "Expected" in some of the docs (Promos). Each should use "Expected [markup|layout|behaviour]".

[2018-12-17 14:02] Heydon opened #37 "Rename `gelui` JS wrapper"
I'm concerned the wrapper makes it sound like a usable-out-of-the-box bootstrap thing. Calling it `gelDemo` or similar would make it clearer the working code is just for demonstration purposes, and not supporting a common or comple UI.

[2018-12-19 15:35] Heydon opened #38 "Exclude erroneous headings"
The reference implementations include headings sometimes, and these are included in the table of contents.

[2018-12-20 16:11] #36 closed, assigned to nobody

[2018-12-21 09:56] greenc05 opened #40 "Promos - General feedback"
Some feedback after reading Promos https://bbc.github.io/code-gel/components/promos/

- The 2nd promo in the code example does not have alt text as stated: “Images can be considered decorative (alt=""; the first Promo in our example) or non-decorative (alt="[description of image]"; the second Promo in our example).”

- There is a typo for ‘direction’ the css in the tutorial ‘flex-diection: column;

[2018-12-21 09:56] greenc05 opened #41 "Promos - Images with alt text and content order"
On Promos https://bbc.github.io/code-gel/components/promos/ it says “**Images... must appear after the textual content (gel-promo-content) in the markup since the heading introduces the promo content, including the image content.**”

This maybe the perfect UX for a blind screen reader user, have we considered **when the image has alt text**, and is being used by partially sighted and sighted scree

[2018-12-21 09:57] greenc05 opened #42 "Promos - Use of Headings"
On Promos https://bbc.github.io/code-gel/components/promos/ the following contradicts the BBC Accessibility guideline advice on structure, which is correct BBC Guidelines or GEF?

GEF: ‘**Must be marked up as an unordered list, with each Promo marked as a list item...Each Promo's primary link must be contained within a heading**’

https://www.bbc.co.uk/guidelines/futuremedia/accessibility/mobile/s

[2018-12-21 10:48] micmath opened #43 "Promo - Using faux-block links"
via @greenc05

[2019-01-02 16:10] EmmaJP opened #45 "Modals: possible reference"
This recently popped up again on Twitter, and thought it might be useful reference to include with the Modal article:

https://developer.paciellogroup.com/blog/2018/06/the-current-state-of-modal-dialog-accessibility/

[2019-01-07 10:53] Heydon opened #48 "Icon currentColor not working"
Not sure quite what the issue is right now, but `currentColor` is not being honoured for GEL icons.

[2019-01-09 09:27] Heydon opened #49 ".vh to .codegel-sr"
Change references to the `.vh` visually hidden class to `.codegel-sr` throughout content.
Many components have references to a `.vh` gist at the moment.

[2019-01-15 14:24] micmath opened #53 "Accordion: use aria-controls?"
Our tutorial for Accordion does not use the `aria-controls` attribute, but this attribute _is_ included in the [W3C WAI-ARIA Authoring Guide example](https://www.w3.org/TR/wai-aria-practices/examples/accordion/accordion.html). Is it missing on purpose? If so can we add an explanation on why it isn't needed please?

[2019-01-24 11:38] #53 closed, assigned to nobody

[2019-01-24 11:39] Heydon opened #56 "JavaScript scrolling issues"
I believe we have a JavaScript-powered smooth scrolling thing? It seems to be interfering with some reference implementation behaviour. We can use CSS instead:

[code]

(The **Info panel** is having scrolling issues in Chrome. Not happening when I isolate the reference implementation in CodePen, or use Firefox or Safari.)

[2019-01-25 09:03] micmath opened #58 "Different focus style for mouse users"
A request was raised to to have different focus styles on the Promo for users who navigate by mouse. So a keyboard user who focuses on a Promo will see a bold outline, but a mouse user who clicks on a Promo will not.

@Heydon, functionally, does this seem like a terrible idea or would it be usable? I can whip up a JS prototype of such a thing to try out if you don't object.

[2019-01-25 09:04] #37 closed, assigned to nobody

[2019-01-25 09:06] #17 closed, assigned to Heydon

[2019-01-25 10:41] micmath opened #59 "Menu Drawer Pattern"
There has been a request from a product team for advice regarding a navigational pattern that is used in many places around the BBC. For lack of a better name I'm calling it a Menu Drawer but I'm happy to be corrected if that is not the best title.

It's frequently used in secondary navigation. I can't find it specifically documented in GEL but it is related to [Tabs](https://www.bbc.co.uk/gel/gui

[2019-01-25 15:48] Heydon commented on #59
@micmath Sorry, I guess I wasn't clear: I'm not conflating the two (Masthead and Menu drawer), I just mean they have a similar problem to be solved. That is, the top-level options all come before the submenus (at least if we want the submenus to be statically positioned). So, when you click the first top-level option, you would have to tab through all the other top-level options to get to the subm

[2019-01-25 15:56] micmath commented on #59
Oh 😲 I see! Yep. masthead is a bit of a red herring in this case, and I'm the one who brought it up so I have no one to blame but myself!

I think in a JS-enabled client we would throw focus down to the drawer panel when it opens, and back to the tab label when it closes. Not sure what to do in an non-JS client, but I think that might be the issue you are thinking about? That seems quite tricky to

[2019-01-25 16:51] Heydon commented on #59
@micmath Interesting! It does some weird CSS stuff with floats to bring the submenu underneath. I can try to emulate that.

[2019-01-26 11:37] micmath commented on #59
I'll remove the "Promo Group" doc in the project plan and replace it with this topic, if you agree @Heydon

[2019-01-26 12:16] Heydon commented on #59
@micmath Sure, I think we have time to fit this one in.

I will update Promos on Monday anyway, with the headings stipulations, use of `<aside>`, and a bit under layout about 'promo groups'.

[2019-01-28 09:52] micmath commented on #59
Thanks very much! :star:

[2019-01-28 10:37] Heydon opened #61 "Components checklist"
- [ ] Remove/replace references to the `vh` (visually hidden) class
- [ ] Move older components to new constructor pattern
- [ ] "Expected" → "Recommended"
- [ ] "Example implementation" → "Reference implementation"
- [ ] Make sure there are no broken links (check for `#link-todo` placeholders)
- [ ] Make sure all asides/notes have a unique label ("Note" etc not good enough)
- [ ] Test reference i

[2019-01-28 10:38] Heydon commented on #61
@micmath Add to this anything you think we need to look out for and I've missed ✊

[2019-01-30 11:56] Heydon commented on #61
@micmath I get the "recommended" versus "expect" change, but I don't think "example implementation" is strong enough, because it's sort of saying "here's one way but do what you like". "Reference implementation" is better because it doesn't exactly _mandate_ anything (there's the disclaimer anyway) but it does say "you should learn from this".

[2019-01-31 12:55] Heydon commented on #59
@micmath In terms of structure (nested lists) and intent, this is a table of contents, so I'm using `gef-toc`. What do you think? I took what you did and am building it out.

[2019-01-31 13:23] micmath commented on #59
Makes sense semantically, it is "_local_ navigation".

[2019-01-31 14:59] Heydon commented on #59
@micmath Right! I think it needs to be a `<nav>` landmark, with a label like "Site". Could then update the label for the Masthead `<nav>` to be "BBC sites" or similar?

[2019-02-01 13:12] micmath commented on #59
Yes, that!

[2019-02-01 16:58] Heydon opened #63 "Reith sans in demo pages"
I noticed we don't get the font in external demo pages. Would you be able to do the magic to make sure those a pulled in in the demo templates?

[2019-02-06 17:05] Heydon opened #65 "Component navigation"
There's no global navigation to move between components?

I think we could place this under the 'Content' same-page links... expect it would then be better to relabel this 'This component' and the links to other components as 'More components'.

?

[2019-02-06 17:10] Heydon commented on #61
## Tally

### Card ✅

Outstanding:

* Remaining #linktocome, referencing a wiki page

[2019-02-19 16:29] EmmaJP commented on #43
It may be questionable that a promo includes additional links to things other than the thing it is primarily linking to. I appreciate News and a few other places have several places where that happens, but I think those should be treated as a variation rather than a default.

[2019-02-19 16:45] EmmaJP opened #72 "Promo - not always related content"
I noticed the current version of Promos documentation recommends a group of promos are collected within an `<aside>` element. While I entirely agree with this for complementary reading on a content page, it does not cover the use case of promos on an index page, where the entire content of that page is groups of promos and use of `<aside>` as the containing element would be incorrect.

It would be

[2019-02-26 16:36] billthornton opened #75 "Linkable buttons"
Hello!

I *think* this is slightly different than https://github.com/bbc/gef-docs/issues/59 but let me know if it overlaps.

I'm looking at a few of the use-cases where links are being used in place of buttons and trying to see if there is a general improvement that should be applied to them.

### Tabs

One use-case are tabs that link to standalone pages, such as the _date tabs_ on:
* https://www.

[2019-03-22 10:43] micmath opened #82 "Summary for Routing is wrong"
The summary text (just below the first content heading) appears to be a repeat of the summary from the Headings document. Can we update that to be a summary for Routing please?

[2019-03-22 10:43] micmath commented on #82
see https://bbc.github.io/gef-docs/foundations/routing/

[2019-03-22 11:57] Heydon commented on #82
@micmath Fixed on master. Thanks!

[2019-03-22 13:06] micmath commented on #75
There is a lot to unpack in the premise of the question, so forgive me if I miss some of the details in my response, but the button v link question is generally a simple one: if it _goes somewhere_ it's a link, if it _does something_ it's a button. There are of course lots of nuances to that in practice: is a form submission "doing something" (submitting data) or "going somewhere" (via a `location

[2019-03-22 13:16] micmath commented on #72
This makes sense to me. The WHATWG says:

It's debatable what the *related* content around the aside element would be on a homepage or
 portal page, where _everything_ is callout to go to other pages. But in debatable cases then I think giving the developer the choice is the best way to go.

@EmmaJP would you like to update that page and send a pull request with your added advice please?

[2019-03-22 13:20] micmath commented on #61
How far along are we on the list, @Heydon ?

[2019-03-22 13:22] #59 closed

[2019-03-22 13:27] micmath commented on #63
I kinda did that on purpose. I wanted to stand-alone demo pages to be evidence that even without _any_ extraneous dependencies, the functionality still works. You could imagine a situation where things lined up only because they were rendered in the font used in the demo page, but when you tried the same thing on your own page (where a different font is used) it suddenly looks broken.

I'm on the

[2019-03-22 13:30] micmath commented on #56
The smooth scrolling was added to make the UX better match the way the GEL site looks and works (GEL actually uses that same JS library I believe). If we can achieve the same in pure CSS then win!

[2019-03-22 13:33] billthornton commented on #75
Thanks @micmath, that's a really good response to my question.

For us the main example was the `More` button in the navigation/masthead (https://bbc.github.io/gef-docs/components/masthead/#the-more-link) where it makes sense for it to be an internal link for non-js, but not the best pattern for a screen reader user with JS. We _could_ switch it out to be a button in javascript, but unsure if this

[2019-03-22 13:34] micmath commented on #49
Appears to already be changed to `gef-sr`.

[2019-03-22 13:34] #49 closed

[2019-03-22 14:14] Heydon commented on #61
@micmath I've done all the Edge (and IE11) testing except for for the routing one. I think we're good, but it would be fantastic if you did these and your own checks too, and requested any changes needed.

[2019-03-22 14:15] Heydon commented on #56
@micmath Worth a try. Me or you?

[2019-03-22 14:22] Heydon commented on #75
@billthornton @micmath The use of a same-page link here was an effort to make the control usable in the absence of JavaScript (I felt this was important, especially in the case of the main navigation). One other advantage is that, by saying "same-page link" in screen readers they can anticipate a change of focus. However, a similar notion could be communicated with `aria-haspopup="true"` on a butt

[2019-03-22 14:34] micmath commented on #75
Love the video. @billthornton. Here's a little-known-factoid, I actually was the front end dev that built that damned More button in Barlesque (as it was known at the time). So I feel personally invested in this discussion suddenly :-)

But that is an error that proves the rule actually. The way the More menu was designed to work is that it really was an in-page link, that properly just moved focu

[2019-03-22 14:39] micmath commented on #56
Go for it fella.

[2019-03-22 14:40] micmath commented on #61
agreed.

[2019-03-22 14:40] micmath commented on #82
Thank you!

[2019-03-22 14:40] #82 closed

[2019-03-22 16:20] billthornton commented on #75
I definitely understand (and agree with) the non-JS behaviour! As noted in the original post, it's easy for us to `Replace the anchor elements as buttons when JS activates`. Would that seem like a reasonable solution to provide the best experience for both non-js and js?

[2019-03-25 11:02] micmath commented on #75
I'm hesitant to answer without actual data, but the video makes pretty strong case. I'd say that if an element walks and talks like a button when JS is active then it should be a button.

[2019-03-25 11:42] Heydon commented on #75
@billthornton @micmath I don't think there is a behaviour/semantics mismatch since the same-page link works as expected. Whether a button would be more appropriate/expected in any case is arguable, though. I have a hunch that users are generally more familiar with same-page links than `aria-haspopup` buttons, since the first is a much longer established paradigm.

If we switched from same-page lin

[2019-03-25 17:04] micmath commented on #75
I admit, I don't fully understand the complexities of all the arguments being made here, but @Heydon are you saying that because, when the element is clicked, focus moves to another part of the page, then it is semantically equivalent to an in-page link, and _therefore_ using an A ELEMENT is valid?

The fact that the other part of the page is hidden, and slides open to be visible when it _receives

[2019-03-25 17:26] Heydon commented on #75
Yep, that's what I'm thinking. But you raise a good point about the disclosure behavior (I was still picturing the "everything open" no JS mode for some reason!)

That considered, I think the most robust and least intensive enhancement would be to add role=button, aria-haspopup=true, and the space bar activation support.

[2019-04-01 15:17] EmmaJP commented on #42
The current Promos doc states that groups of promos are marked up as a list, which means that heading elements are not needed within individual promo components. It also states that Promos should only have a single function, a link to the promoted content.

Is there ever a situation where there would be a single promo, and it might make sense for the promo headline to be a heading element? If not,

[2019-04-01 16:46] micmath commented on #42
+1 for the suggestion that card-like things with multiple links are not _typical_ Promos.

[2019-04-02 08:15] greenc05 commented on #42
@EmmaJP In the user research held recently on tabbed interfaces, we actually also included a promo in which we tested with and without a heading and it was clear cut that users prefer headings in promos.

[2019-04-02 10:17] EmmaJP commented on #42
Definitely interested to see what was tested and the observations on that.

[2019-04-03 10:00] greenc05 opened #86 "Tabs - VoiceOver bug?"
On the reference implementation https://bbc.github.io/gef-docs/components/demos/tabs/ when using VoiceOver on Mac with Safari, and selecting a tab with the VoiceOver specific commands that are read out (Control + Option + Space), this moves the focus and selects the tab panel visually with an outline, but it does not move the VoiceOver focus to the tab panel - this stays on the tab. Note when pres

[2019-04-03 11:33] micmath commented on #86
Do we have any voiceover "power users" available in our Champions Network who can verify that the behaviour is not expected? cc @JamieKnightBBC

[2019-04-03 11:35] greenc05 commented on #86
Perhaps @bmustill-rose would be so kind?

[2019-04-03 11:35] JoshTumath commented on #42
I would also be interested to hear what has been found from user research. In conversations I've had with a couple of screen reader users, they normally don't like the large amount of headings on index pages that have promos. And we already tend to have a headings above each list of promos.

[2019-04-03 11:52] JamieKnightBBC commented on #86
I don’t know enough about VO to have an opinion. I also don’t know of any primary VO Mac users we could ask. I know many iOS users but most blind users i know are on JAWS or NVDA.

If we’re unsure after speaking users or can’t find a representative user we can contact  Apple directly via: accessibility@apple.com<mailto:accessibility@apple.com>

Sent from my iPhone

On 3 Apr 2019, at 12:35, Cathari

[2019-04-03 12:01] micmath commented on #86
OMG @JamieKnightBBC we need you here more.

[2019-04-03 13:05] Heydon commented on #86
@greenc05 I just did a bit of testing and was able to recreate the issue. Hmm. Since VO and native focus go out of sync suggests there is a bug. Where I use Control + Option + [arrow key] to switch between tabs, VO and bnative focus stay in sync...

[2019-04-03 13:22] greenc05 commented on #86
Thanks @Heydon I presume you mean a bug with VoiceOver and not with our JS code?

[2019-04-03 13:34] greenc05 opened #87 "Tabs - Last merge bug with 'Related research'"
Think our last code merge went a touch wrong, we have '<<<<<<< HEAD' and some other rubbish in the 'Related research' section

https://bbc.github.io/gef-docs/components/tabs/#related-research

[2019-04-03 14:11] micmath commented on #87
Well spotted: fixed.

[2019-04-03 14:11] #87 closed

[2019-04-03 14:12] greenc05 commented on #87
Thanks, I guess it takes a while to get to live...

[2019-04-03 14:13] greenc05 commented on #87
Thank you

[2019-04-03 14:30] Heydon commented on #86
@greenc05 Yes, although it may not quite be a 'bug' so much as an expected but weird behaviour.

[2019-04-03 14:55] greenc05 opened #88 "Tabs list - NVDA improvement"
When using NVDA the usual behaviour is for it to read out a list with one press of the down arrow key, this can be applied to our tab list.

Currently in the reference implementation you have to press the down arrow key 3 times to move through the tab list. While I realise this isn't a real world example and meant to be used as reference, for developers referring to the reference implementation, i

[2019-04-03 14:56] greenc05 commented on #86
Thanks very much @Heydon. I won't file a bug with Apple then...

[2019-04-03 15:08] micmath commented on #88
Pull request welcome :-)

[2019-04-03 15:10] micmath commented on #88
Inviting @simonsinclair to look. @greenc05 are you happy to help him build up a pull request for this?

[2019-04-03 15:12] greenc05 commented on #88
Sure, I can change the CSS but I don't have the JS skills, maybe @simonsinclair does? Along with time to browser test? @simonsinclair?

[2019-04-03 16:16] simonsinclair commented on #88
Hi @micmath and @greenc05, I'm happy to pick this up tomorrow morning. Regarding browser testing - what's the procedure?

[2019-04-03 16:23] greenc05 opened #89 "Tabs - Missing aria-selected="false""
The enhanced mark up (https://bbc.github.io/gef-docs/components/tabs/#enhanced-markup) is missing aria-selected="false" on each of the unselected tabs (as per the W3C spec, 'The active tab element has the state aria-selected set to true and all other tab elements have it set to false.'). This is also missing from the reference implementation (https://bbc.github.io/gef-docs/components/demos/tabs/).

[2019-04-03 16:24] greenc05 commented on #89
Any chance you could also look at this please @simonsinclair?

[2019-04-03 16:27] greenc05 commented on #88
Fabulous thanks @simonsinclair - Just test on all the popular browsers IE11, FF, Chrome, Safari etc @micmath might have a list for the project that they are using

[2019-04-03 16:35] micmath commented on #88
We really should publish a list of browsers we test on. I'd love to have that be based on what Web Core are testing on actually. Does anyone know what their list is?

[2019-04-03 16:38] greenc05 commented on #88
News browsers are based on user stats, this will differ per product, so yes probably best to get a steer from Web Core.

[2019-04-03 16:56] greenc05 opened #90 "Tabs - Missing the ability to active the tab by spacebar as well as enter"
Under 'Recommended behaviour - With JavaScript' https://bbc.github.io/gef-docs/components/tabs/#with-javascript

In the 1st paragraph it says 'For keyboard users, unselected tabs are focusable and can be activated with the Enter key'.

I believe we have miss the spacebar from this? As per the W3C 'Space or Enter: Activates the tab if it was not activated automatically on focus.'

This should be up

[2019-04-03 17:16] greenc05 opened #91 "Tabs - Additional note about when tab panel headings are visually hidden"
Under 'Recommended behaviour - With JavaScript' https://bbc.github.io/gef-docs/components/tabs/#with-javascript

In the 1st paragraph it says 'By mouse or touch, clicking or pressing a tab will reveal its corresponding tab panel.'

Could we add a note after this, for if the tab panel does not display a visual heading? Which is allowed per GEL "The content panel should always have a heading to redu

[2019-04-03 17:45] greenc05 opened #92 "Tabs - Documentation write up - Typos/tweaks"
Introduction
- 2nd para - 'more than four or five tabs in total' **should be** 'no more than four or five tabs in total'

Recommended markup - Notes
- 'Eah' **should be** 'Each'

[Recommended behaviour - With JavaScript - Selecting a tab](https://bbc.github.io/gef-docs/components/tabs/#selecting-a-tab)
- 2nd para - 'To preserve the behaviour of the same-page links upon which the tabs are created a

[2019-04-04 09:55] simonsinclair commented on #89
Absolutely, @greenc05.

[2019-04-04 10:18] bmustill-rose commented on #86
I wouldn't really feel comfortable in doing anything more than verifying your findings sorry. Even someone who uses VO exclusively would most likely only be able to comment on if it's behaviour they've scene before which in itself wouldn't tell us if it's a bug or not. I'd argue the only people who could tell us conclusively are Apple employees who have access to documentation detailing expected b

[2019-04-04 11:36] micmath commented on #89
Fixed

[2019-04-04 11:36] #89 closed

[2019-04-04 14:56] micmath commented on #90
fixed in https://github.com/bbc/gef-docs/pull/94

[2019-04-04 14:56] #90 closed

[2019-04-05 13:27] sbeaumontweb commented on #86
It does seem that there is a difference between what the two keycombos should do. If you go into VO command help (VO keys + H, H) and go into General, it describes:

"Perform action for item" - VO + Space
"Select item" - Enter

Which would suggest to me that there's some kind of nuance between the two commands that results in a slightly different interaction with the tabs, as they're links that re

[2019-04-08 09:30] simonsinclair commented on #88
Hi @greenc05 and @micmath, I'm trying to understand this issue. On Friday I tried out the suggested CSS, but it changed the look of the component. Also:

- Tabs already have JS logic controlling their active highlight. Am I right in thinking the request was for the highlight logic to be changed to highlight the parent `<li>` rather than the `<a>`, because of the amended CSS?
- Also, so I can under

[2019-04-09 10:06] #56 closed

[2019-04-09 10:22] jgoodfellow1985 commented on #86
I was able to test this using voiceover. From a purely non visual perspective, it seemed to behave as expected, i.e. it announced when a tab had been selected/pressed, and I was able to navigate to the newly focused content. unless I'm missing something?

[2019-04-09 12:12] simonsinclair opened #95 "Improve local development experience by using hot and live reloading"
Having resolved a few tickets in bbc/gef-docs, I think we could benefit from triggering build automatically, plus hot and live reloading.

- This would speed up development and could be done using the popular BrowserSync module and a task-runner like Gulp without being invasive.
- Developers would be able to choose between running something like `npm run develop` or sticking to what they do now.

[2019-04-10 16:18] greenc05 commented on #86
Thanks @bmustill-rose and @jgoodfellow1985 and also @sbeaumontweb - Personally I don't think this is a huge deal if 'VO + Space' doesn't work for everyone, they should still be able to reach the tab panel.

Just adding more comments from Jack:
"I was able to navigate across the tab using command, option and space with no issue. Voiceover announced that the tab had been ‘pressed’ and it was clear t

[2019-04-10 16:40] greenc05 commented on #91
Thanks, will add to my very long to do list @micmath

[2019-04-10 16:41] greenc05 commented on #92
Thanks @micmath

[2019-04-10 16:43] greenc05 commented on #42
@JoshTumath the research was carried out on an Article page, though I from observing the research and see the reasons why, I don't see why it wouldn't also apply to Index pages

[2019-04-10 16:47] greenc05 commented on #88
@simonsinclair are you based in NBH? Might be best if we pair on this for half an hour and I can explain better? If not over a Slack call?

[2019-04-11 08:16] simonsinclair commented on #88
Hey @greenc05, I'm in W12, but happy to do a Slack call. Today (11th) is fully-booked, but am available tomorrow or Monday?

[2019-04-11 08:34] micmath commented on #42
_Summarising the gist of the discussion so far..._

**Proposed:** we recommend that each promo _should_ have their own Heading element

**For:**

**Against:**

[2019-04-11 08:37] micmath commented on #42
We need more data.

[2019-04-11 14:38] micmath commented on #42
I've been reading the [user survey cited by @Heydon ](http://www.heydonworks.com/article/responses-to-the-screen-reader-strategy-survey) and possibly I misinterpreted the meaning of that in my previous comment, because it plainly does not say to  simply make more things headings; it actually argues for [_good document layout_ with _well-considered use of headings_](https://benrobertson.io/accessib

[2019-04-11 17:42] EmmaJP commented on #42
I remember that survey by Heydon. Some great insights in there.

I've asked Jack about this directly, and he is OK with lots of headings or lots of links. He's learned to navigate both and has never really compared the two experiences. That would be a great thing to get some research on ... comparing the two.

Watching the screen reader research iPlayer app is doing this week, there is a big diffe

[2019-04-16 15:46] micmath commented on #95
This has been merged. Nice work, @simonsinclair .

[2019-04-16 15:46] #95 closed

[2019-04-23 10:17] greenc05 commented on #33
The variation of link with nested heading is needed sometimes, if for example if adding a label such as 'Breaking news' or 'Live', this is not necessarily part of the heading but it is part of the link text.

[2019-04-24 16:08] greenc05 commented on #42
@micmath I don't disagree with what you are saying, though it doesn't actually take into account how screen reader users actually navigate, and this is primarily via a heading short cut key from observed research (or the down arrow). Out of 8 screen reader users in the recent research I did not observe any navigating via the tab key...

Do we have evidence to support:
"Screen reader users... norma

[2019-04-24 18:40] micmath commented on #42
@greenc05 your question about evidence is addressed to Josh Tumath, since you are quoting him. If you read up the page you'll see that's based on talking to two users. Emma's comment was based on talking to one user, and your conclusion was based on a study with 8 users.

So far the only original thing I've said is I think we need more data. I still say that. But if we assume your study is indicat

[2019-04-25 12:48] JoshTumath commented on #42
To be honest, when I made that statement, I think it was really based on a combination of the testimony of one screen reader user I know and the exact guidelines/best practices that are outlined in the original post, so it's not worth much as an argument.

So I agree that we need more data to say whether using headings in promos is useful for screen readers. But I feel as though our default positi

[2019-04-25 12:54] micmath commented on #42
I think _all_ your statements are worth a lot to this conversation! <3

But there is a thing called "statistical significance" based on sample size, and certainly 1 or even 8 people isn't ideal.

[2019-04-25 14:49] micmath commented on #42
In the absence of significant and convincing user data, we've always said we would revert to _standard industry practice_ so that we are at least [not being surprising](https://www.amazon.co.uk/Dont-Make-Think-Revisited-Usability/dp/0321965515/ref=dp_ob_image_bk).

We've already done a survey of [how it's done around the BBC](https://github.com/bbc/gef-docs/wiki/Promos) and in many cases teams are

[2019-04-25 15:09] JoshTumath commented on #42
There is another aspect to the argument against using headings in promos (other than accessibility, specifically), which is to do with what the HTML specification says a heading semantically is for:

[(from the HTML spec)](https://html.spec.whatwg.org/multipage/sections.html#headings-and-sections)

If headings start 'implied sections of content', is each promo a section of content? If so, that mea

[2019-04-25 15:43] micmath commented on #42
I don't think that spec is followed by websites so rigidly. When you mentioned sections you reminded me of the `<section>` tags I saw in the source for the Deque website (who we can assume, know their accessibility onions), and they actually follow a pattern very similar to what @greenc05 is suggesting we use for Promos:

[code]
_* simplified for readability_

Where `H2` is used to describe the (l

[2019-04-25 15:49] micmath commented on #42
@JoshTumath this is a line we agree on: "My personal opinion is that they are not [sections] because they are linking off to articles and there is no actual content within the promos themselves."

And I would be happy if our advice was something along the lines of: "If your promo is _merely_ a link to an article, then you should not use a Heading Element, but if you provide additional content, suc

[2019-04-25 22:21] EmmaJP commented on #42
Of those who have implemented a basic promo with a heading, I'm curious how many have done so because they felt it was semantically correct or had tried it out with users, and how many did so because the design used bold text or the design pattern referred to it as a headline.

I do think cards that are in and of themselves a piece of content, should probably have a heading. I am much less incline

[2019-04-26 07:35] micmath commented on #42
I don't think that applies to @greenc05 who has thought about semantics, understands the language in the pattern and has tried it out with users; and is now making a good argument to use the `Hn` element.

Your comment highlights two crucial points though:

1) Classification of  "a simple **card** with a link" versus "a **promo** with a bit of extra content" is on a continuum; There will be card-l

[2019-04-26 07:35] #42 closed

[2019-04-29 16:27] simonsinclair opened #97 "Promo, and others - list constituent parts and/or data required to function"
_This issue is a part of a series._

**Can we avoid sending developers to GEL _design_ documentation to read what components are composed of?** As a developer, I want to know what a component is comprised of (the smaller components I'm going to have to build, if any) and the data required for it to function.

There are multiple ways we could do this, but one (keeping things agnostic) could be to l

[2019-04-30 08:55] micmath commented on #97
I think this is a good idea, @simonsinclair

I propose we add a distinct section with it's own heading for each component, where we can list the expected content data, and their variations.

Would you care to do a pull request for this, using the Promo component as a first try?

[2019-04-30 08:57] micmath commented on #97
BTW it is not verboten to send developers to GEL, the line between GEF and GEL is intentionally fluid. There are plenty of good reasons for developers to read GEL and for designers to read GEF, but I get what you mean about having the _properties_ of the component explained in the same document :-)

[2019-04-30 10:22] simonsinclair commented on #97
Yes, sure. I'll take a stab at creating a distinct section for the Promo.

[2019-04-30 10:31] micmath commented on #97
We usually have these sections:

[code]

I would suggest we add a new section right after 'Introduction'. We could call it 'Content properties'?

[2019-04-30 11:17] simonsinclair opened #98 "Promo, and others - be consistent with our use of the term 'label'"
In the Promo section reading:

The example markup shows why this is confusing:

[code]

`aria-labelledby="unique-promo-label"` and `id="unique-promo-label"` are the labels (in markup terms) and `Related programmes` is free text, which could change. I hope this makes sense. I feel like it's important to differentiate from them both.

[2019-04-30 11:29] simonsinclair opened #99 "Where necessary use sub-sections to structure the "Recommended markup" section"
For Promo's the "Recommended markup" section leads with information on Promo containers, not Promos. This is important, however:

To implement a Promo in React or other popular libraries we would need a Promo component and then, as suggested, a way of holding one or multiple in a 'PromoList' component. My suggestion is not to remove any information, but to structure it more in component-driven way

[2019-04-30 11:36] simonsinclair opened #100 "Promos - clarify the 'headings in headlines' box"
When implementing the promo, this box took me a couple of reads:

Can we:
1. Clarify that "heading" in "Unlike Cards, Promos do not need to have a heading as their title/headline." means heading _element_?
2. When we use terms, which some people may need reference to, like "complementary landmark", that we always refer to it in the bibliography like we do the first time (with a [1])?

[2019-04-30 11:46] simonsinclair opened #101 "Promo, and others - 'Recommended layout' section title"
It's not immediately apparent that 'Recommended layout' contains (very) useful styling/css information. If you read the entire document in order you will find it, but not everyone is going to do that. A less ambiguous title, that includes 'css' or 'style' might mean that this useful section doesn't go unfound.

[2019-04-30 11:55] simonsinclair opened #102 "Promo, and others - high contrast"
In Promo's 'high contrast' section, we mention "Windows High Contrast" mode and provide the following style example:

[code]

I am curious how the `/* for high contrast mode */` line gets applied when "Windows High Contrast" mode is enabled. Do we need more information about Windows HCM here?

Also we say "How the component looks with a Windows High Contrast Mode theme active", but it is an image

[2019-04-30 12:26] simonsinclair commented on #97
'Content properties' is a good title.

In terms of structure, how would you feel about something like this?

| Property |  Required | Example |
| ------ |  ------------ | -------- |
| Headline | Yes | `Is this whale a Russian spy?` |
| `href`  |  Yes | `https://www.bbc.co.uk/news/av/world-europe-48100700/russian-spy-whale` |
| ...  | | |

[2019-04-30 12:38] micmath commented on #97
I really hope that whale is _not_ a Russian spy.

It might tricky to say what's required on a _per property_ basis like that. For example I could imagine various combinations of properties that would be acceptable, as long as you had some combination -- I don't think a mere text and href would be a "promo"? Or would it? That's just literally a link surely?

But a name, description (to add?) and ex

[2019-05-01 15:38] simonsinclair commented on #97
He looks a bit suspect...

I took a stab and combined our points into a pull request (#103). Let me know what you think.

[2019-05-07 20:27] simonsinclair commented on #88
Hey @greenc05, it was good to catch up today. I took a look at this and have used `display: flex`, because inline-block was causing a visual regression and fixing it was getting hacky. However we need to make sure this works with NVDA. Please can you test the branch https://github.com/bbc/gef-docs/tree/tabs-list-nvda-improvement and let me know how it goes?

[2019-05-08 07:57] greenc05 commented on #88
@simonsinclair please could you create a PR for the branch? I will then try to make the changes locally on the PC to check it. Thanks again.

[2019-05-08 17:55] greenc05 commented on #33
Some testing shows that VoiceOver Mac/Safari does not announce heading semantics if we have (note all other screen readers worked well when the h3 had a nested link)

[code]

[2019-05-09 07:27] micmath commented on #33
Is there a spec defined somewhere (don't laugh) for how a standard screen reader should treat that scenario? i assume it is standard, valid and well-formed HTML.

[2019-05-09 08:40] Heydon commented on #33
I don't think so. But if there is, you can bet Apple/Voiceover won't follow it...

[2019-05-09 09:33] micmath commented on #33
🤦I'm reminded of the browser wars back in the 00's. We lost a lot of good soldiers...

[2019-05-09 09:55] Heydon commented on #33
![The Browser Wars: 1995 to 2019](https://user-images.githubusercontent.com/683558/57444794-dea3cf80-7248-11e9-8d6e-3fda12e24b52.png)

[2019-05-09 12:59] EmmaJP commented on #33
As a link element is consider both flow content and phrasing content, I think it can legitimately contain other flow elements.
https://www.w3.org/TR/html52/document-metadata.html#the-link-element

[2019-05-09 13:37] Heydon commented on #33
Yeah, HTML5 permits 'block links' but screen readers have diverging ways of handling them.

[2019-05-09 14:18] micmath commented on #33
@EmmaJP I only ask about standards because if we are following the Rules of HTML and Apple/Voiceover are doing the wrong thing (as suggested by the fact that other AT combinations get it right) then that makes me think we _could_ leave it to Apple to solve the problem, rather than trying to fix their mistake in our code.

Of course, as we battle-hardened browser war survivors all know, being right

[2019-05-09 14:40] EmmaJP commented on #33
@micmath I'm in agreement with you. I believe our line is to follow the spec, as that is what others should also be doing. We can't cater for all the nuances and possible ways someone might do it differently.

We did the same thing back in the browser war days, and survived longer than IE5.5 or 6.

[2019-05-29 09:38] micmath commented on #88
Related issue is flashing in my mind at this point, @greenc05 said "it would be nice if this reflected expected screen reader UX."

Does the BBC (via GEL ideally) actually define "expected screen reader UX" on this issue? I will genuinely be delighted to see that it does, but I know that in many cases the expected screen reader behaviour is conspicuously missing from the UX docs.

Not sure how to

[2019-05-31 12:44] simonsinclair opened #105 "Action Dialogs - Mega Ticket"
This ticket refers to the audit of https://bbc.github.io/gef-docs/components/action-dialogs/ - using React to build an Action Dialog.

### The 'Recommended markup' section

1. The first `<h3>` is closed by an `</h2>`.
2. It's not immediately obvious why there's a trailing `</body>` in this example. Can we use a `` to explain or omit it entirely?
3. `<h3 id="gef-action-dialog-label__1"` should be `

[2019-06-03 08:15] micmath commented on #88
Awaiting review comments by peeps who have expressed an interest, such as @JamieKnightBBC

[2019-06-03 08:39] greenc05 commented on #88
@micmath this was just a bug coming from our CSS - Not sure if you guys are testing the GEF output? This is default behaviour for NVDA users and that's all I meant by "it would be nice if this reflected expected screen reader UX... (in the reference implementation)."

[2019-06-07 17:00] simonsinclair opened #108 "Tabs"
This ticket refers to the audit of https://bbc.github.io/gef-docs/components/tabs/ - using React to build a Tabs component.

### The 'Recommended markup' section
- In the first bullet of 'Notes', `links: Eah link's...` should probably read `links: Each link's...`.

**Tabs Properties** (to add)
_Per tab_
- title
- children

[2019-06-17 10:53] nickshanks opened #110 "Wrong aria role on Load More (pagination) demo element"
On a Mac, using Safari, with VoiceOver turned on, and with Javascript turned off (Develop menu, might need to enable it in the prefs first), load this page:

https://bbc.github.io/gef-docs/components/demos/load-more/

Navigate through the page with VO-Right Arrow until you get to the pagination links at the end (or just skip to the navigation landmark), and then go through each link until you get

[2019-06-17 11:00] micmath commented on #110
In some of our early prototypes for the demo pages we had a "See it unenhanced" button which would effectively disable all JS enhancements. That was pretty sweet, but actually in this case I think we should consider pagination to be like a component in it's own right, and have two demos for this page, one that shows the pagination on it's own. I'll open a separate ticket for that.

[2019-06-17 11:03] micmath opened #111 "Add pagination demo to load-more docs"
I think we should consider pagination to be like a component in it's own right, and have two demos for this page, one that shows the pagination on it's own.

refers to #110

[2019-06-17 11:06] Heydon commented on #110
https://chrome.google.com/webstore/detail/quick-javascript-switcher/geddoclleiomckbhadiaipdggiiccfje?hl=en

[2019-06-17 11:12] micmath commented on #110
As the BBC, we would add, "Other browsers and browser extensions are available..." :-D

To be fair people might want to use pagination _instead_ of load more. Personaly I think load more should rule them all, but I'm not in charge of everyone yet, so I've asked @simonsinclair to have a go at building a second demo for that page which just show pagination.

[2019-06-17 11:13] Heydon commented on #110
Not sure where this definition comes from, but I am using in line with the definition here: https://www.w3.org/WAI/PF/aria/roles#separator. It is announced as _"horizontal splitter"_, which is what it does visually in my view, so is reasonably apt. It could, however, simply be removed from AT readout with `aria-hidden="true"`.

[2019-06-17 11:19] micmath commented on #110
From [WAI ARIA 1.1](https://www.w3.org/TR/wai-aria-1.1/#separator)

So you are both right?

[2019-06-17 11:28] micmath commented on #110
The element in question, `<li role="separator">&hellip;</li>`, in this case cannot receive focus, so it seems like Safari with VoiceOver is being different from what WAI ARIA say (the element should be treated as not interactive). Do other screen readers behave as expected?

[2019-06-17 12:02] Heydon commented on #110
Yes, I think so. I'm using it in the non-interactive sense. It should not be focusable in that case, and is not.

[2019-06-18 11:12] nickshanks commented on #110
As a Cocoa developer for ten years, "splitter" has a specific meaning (the grabbable divider between two panes) which quite possibly Apple's developers have mis-interpreted.

[2019-06-18 11:21] micmath commented on #110
@nickshanks, suggested resolution? This seems like a bug in the client software rather than the example code, but possibly we should accommodate that bug?

[2019-06-18 11:26] nickshanks commented on #110
@micmath Fair enough, I shall report it to Apple. I don't see why it needs to have a role at all, to be honest.

[2019-06-18 11:33] nickshanks opened #112 "Load Mode demo has missing "gef-pagination-label" element"
The `<nav>` around the pagination component of the Load More demo has an `aria-labelledby="gef-pagination-label"` attribute, but there is no element with `id="gef-pagination-label"` on the page. The nav element just gets described as an anonymous navigation landmark in the VoiceOver rotor.

[2019-06-18 11:48] nickshanks commented on #110
As I see it, pagination is useful over load more in two regards:
1) Skipping far ahead (especially when results are sorted on factors other than relevance, e.g. alphabetically without start-letter links, or some numerical value and you know the result you're looking for is many pages away). You can either click a page link to skip several pages, or hack the URL.
2) Saving/sharing a link to a speci

[2019-06-18 11:51] nickshanks opened #113 "Load More demo does not update URL after loading more results"
The Load More demo should also be updating the URL using the History API to reflect the number of results being shown, so that reloading the page/switching browsers/sharing the link all get you back to the place you were before that action.

When loading a page with a URL that specifies how many results to show, that number needs to be honoured for the above to work. For a demo this can be done cl

[2019-06-18 11:53] nickshanks opened #114 "Unclear how to render pagination links for middle pages"
The Load More demo does not show how pages such as 5 and 55 should act with regards to displaying the first page link and a lower-end ellipsis, e.g. I assume we're supposed to do this:
`< 1 … 52 53 54 55 56 57 58 … 999 >`
But how many page links should be between the two ellipses?
Should we display the first page link and the prior ellipsis at all?

It would be nice if clicking on the pagination l

[2019-06-18 12:40] nickshanks commented on #114
Forgot to mention, this isn't described on https://www.bbc.co.uk/gel/guidelines/numbered-pagination either, which is why I was looking at the behaviour of the demo.

[2019-06-18 13:01] micmath commented on #111
ref comments posted by @nickshanks in https://github.com/bbc/gef-docs/issues/110#issuecomment-503069557

[2019-06-18 13:03] Heydon commented on #112
@nickshanks Good catch! I'll get that fixed ASAP.

[2019-06-18 13:37] micmath commented on #113
Do you mean like `/search/football/results?pages=10` or similar, where the number of pages to show is encoded in the URL -- in that example, pages 1 through 10 would be visible upon opening the URL?

This idea came up in a project I worked on to implement the BBC Academy Search. As a team we eventually decided that, when implemented _serverside_ it was too inviting of an attack vector for someone

[2019-06-18 13:45] micmath commented on #114
We would want guidance of what the interface should be to come from GEL, so this may be a signal to raise this question there.

In actual usage, I can see this working on the `/food` site though.

<img width="759" alt="Screen Shot 2019-06-18 at 14 42 56" src="https://user-images.githubusercontent.com/81645/59689449-937dc480-91d7-11e9-883c-668e2e615eb7.png">

[2019-06-18 15:30] simonsinclair commented on #111
See pull request https://github.com/bbc/gef-docs/pull/115.

[2019-06-20 09:43] micmath opened #116 "Add label to Promo"
Where the "label" is what GEL calls the little text overlay on the corner of the Promo image.

[2019-06-20 10:03] simonsinclair commented on #116
I am happy to be assigned to this. For reference, are we talking about `NEW` in the upper-left hand corner of this Promo?
![Screen Shot 2019-06-20 at 10 55 26](https://user-images.githubusercontent.com/1430787/59840377-20488f80-934a-11e9-88e8-b16579c6a587.png)

**From GEL**

[2019-06-20 10:48] micmath commented on #116
@simonsinclair you may want to ask @Heydon about any advice for the screen reader experience of a promo label. I can't guess what they should "sound" like.

[2019-06-20 11:15] Heydon commented on #116
@simonsinclair @micmath I anticipate the solution (for the purposes of structure/reading order) will be along the lines of

1. Hiding the visible label with `aria-hidden="true"`
2. Prepending "New:" to the main title/heading/link text for the link, in a visually hidden span (`<span class="gef-sr">New:</span>)

[2019-06-20 11:45] simonsinclair commented on #116
Thanks, @Heydon!

[2019-06-20 13:23] simonsinclair commented on #116
See pull request https://github.com/bbc/gef-docs/pull/118.

[2019-06-21 11:00] Heydon commented on #112
Done in https://github.com/bbc/gef-docs/pull/117

[2019-06-21 11:00] #112 closed

[2019-06-21 14:07] #116 closed

[2019-06-21 14:09] #88 closed

[2019-06-21 18:21] nickshanks commented on #114
That example was very surprising! Two inferior pages and three superior ones. I went to look myself, and discovered that there's a media breakpoint at 900px where it switches from four inferior and four superior to the example you show. Below 600px it shows prev, first, …, self, next, …, last, next. Below 400px the next page after the current page goes away, and then the blocks start to get messy

[2019-06-24 08:01] micmath commented on #114
If you have an interest in pursuing this pattern to make it a good recommendation in GEL, I would approach GEL and ask how to get involved. This example clearly shows that some discussion is needed.

[2019-07-08 08:29] nigelmegitt opened #119 "Namespacing is all one word"
In https://bbc.github.io/gel/#coding-conventions there's a sub-heading called "Name spacing" which then refers to "namespace" which is inconsistent. I think it should be "Namespacing".

[2019-07-08 08:36] micmath commented on #119
Thank you. This has been fixed.

[2019-07-08 08:36] #119 closed

[2019-07-10 12:02] greenc05 opened #121 "Tabs - Reference and react implementation do not behave as documented when selecting a tab"
I know these aren't production code examples... should I be concerned if the reference and react implementation do not behave as documented?

Tabs documentation: "By mouse or touch, clicking or pressing a tab will reveal its corresponding tab panel. For keyboard users, unselected tabs are focusable and can be **activated with the Enter** and Space keys. To preserve the behaviour of the same-page l

[2019-07-10 14:23] greenc05 opened #123 "Tabs reference implementation JS does not load in IE11"
Load this url in IE 11 and the JS does not load, it should https://bbc.github.io/gel/components/demos/tabs/

[2019-07-10 15:54] greenc05 commented on #108
@simonsinclair "In the first bullet of 'Notes', links: Eah link's... should probably read links: Each link's...." has been resolved in https://github.com/bbc/gel/pull/124

[2019-07-10 15:57] #86 closed

[2019-07-15 10:37] #92 closed

[2019-07-15 19:36] simonsinclair commented on #123
This affects all components. Please see pull request #127.

[2019-07-26 10:04] Heydon opened #128 "Firefox custom scrollbars"
Firefox now supports custom scrollbars. We should add this wherever we use custom webkit scrollbars.

See: https://webplatform.news/issues/2019-07-25

[2019-07-26 15:42] simonsinclair commented on #121
@micmath, I have investigated this and I don't believe it to be a bug.

The difference in the GEL implementation(s) and @greenc05's demo is that her demo contains focusable elements in the tab content and ours do not. If there are no focusable elements in the tab-content, the next focusable element is the next tab. This doesn't indicate an issue with focus.

I have update the tab-content in the Re

[2019-07-26 15:46] simonsinclair commented on #111
Closing, because the PR was merged.

[2019-07-26 15:46] #111 closed

[2019-07-26 15:48] simonsinclair commented on #97
Closing, because the PR was merged.

[2019-07-26 15:48] #97 closed

[2019-08-14 11:47] JoshTumath opened #131 "Screen reader behaviour for labels in promo component"
While implementing the Promo, I don't think the GEL documentation described the recommended markup for the Label, other than hiding it from screen readers.

I'd like to propose the experience would be something like this:

[code]

[code]

The screen reader would read out the label within the headline, but the label would visually render in the top left/right corner of the promo.

[2019-08-14 12:50] micmath commented on #131
This follows the advice in the GEL design guides:

Would the CSS need to include background color, padding etc for the label?

[2019-08-14 15:47] JoshTumath commented on #131
Yes, you'd still presumably add all of your visual styling. I just chose to keep my example code short.

However, I've been implementing this today and, in practice, I've found that I needed to do (the equivalent of) this instead:

[code]

This is because we want to prevent the Label from overflowing the `div.gel-promo__image`.

[2019-08-15 07:32] micmath commented on #131
Would you be willing to modify the reference implementation in the documentation to include an example of this please? Pull requests are welcomed :)

[2019-08-15 18:32] simonsinclair commented on #131
Hey @JoshTumath, please can you help me understand how this is different from the first promo in [the reference implementation](https://bbc.github.io/gel/components/demos/promos/)?

[2019-08-16 09:55] JoshTumath commented on #131
Thanks for showing me that. I actually didn't notice that in the reference implementation. I was just looking at the documentation, which I don't think mentioned anything about it.

[2019-08-16 12:07] simonsinclair commented on #131
No problem. As @micmath mentioned, we'd welcome a pull request if you'd like to see it mentioned in the documentation - the relevant file is [components/promos.md](https://github.com/bbc/gel/blob/master/src/components/promos.md). I think it'd be a good addition, because there's definitely some things to consider when implementing this little element.

[2019-09-23 15:25] micmath opened #132 "Implementation for text-shortening"
It has come up in multiple contexts recently, there are questions about how to dynamically shorten text when the space available to display it is too small.

## Example 1 (plenty of space)

1. Manchester Area Polo Club, Game 1: 88 goals
2. Manchester Area Polo Club, Game 2: 93 goals

## Example 2 (limited space, naive shortening strategy)

1. Manchest...: 88
2. Manchest...: 93

## Example 3 (limit

[2019-09-23 15:26] micmath commented on #132
attn @JamieKnightBBC

[2019-10-08 15:37] Heydon opened #134 "Masthead: HCM image says {GEF}"
Old name needs to be removed.

[2019-10-09 11:57] Heydon opened #135 "Separate JS"
The JS is all compiled into one file, which makes it hard for readers to adjust / experiment with the code.

As crude as it may sound to an engineer, I think inlining/embedding the JS for each reference implementation is the best idea after all.

[2019-10-09 14:06] micmath commented on #135
The law of Optimising for Cacheability says keep it all in a rarely modified separate request. Which is why it was originally done that way. But I think we don't really care about that as much as optimising for learnability. So yep, I agree.

[2019-11-07 14:59] EmmaJP opened #136 "Carousel behaviour needs more clarification and a demo with matching behaviour"
How the carousel should behave when someone navigates with the tab key and/or with a screen reader is unclear and does not appear to describe what is happening in the demo. Such that the demo does not appear to behave quite as I would expect.

When navigating the [carousel demo](https://bbc.github.io/gel/components/demos/carousels/) with the tab key I observed:

- first tab press moves focus to th

[2019-11-11 13:27] EmmaJP opened #137 "Broken image and title consistency"
Hopefully a quick one to fix...

https://bbc.github.io/gel/foundations/iconography/ appears to have a broken image within the "Colour independence" part, at the start of the last paragraph "Movement on...".

Also, the page is headed "Iconography". This is reflected in the URL, but not the link to the page on the site homepage that uses "Icons".

[2019-11-11 15:00] micmath opened #138 "Broken link on Typography page"
Buttons and CTAs link goes to 404.

[2019-11-12 09:28] micmath commented on #136
This issue mixes concerns that would be better in separate tickets.

1. There is an implementation bug that means focus is moved in a not-as-designed manner. You describe that when you say:

ninth tab press appears to move focus to the last/7th item in the list and it's in-item link (rather unexpected).

2. Second issue to address is about the written description of the desired behaviour being har

[2019-11-12 14:20] JamieKnightBBC opened #139 "Typo: Form fields and validation"
On this section: https://bbc.github.io/gel/components/form-fields/#recommended-behaviour

It reads "No fields have the aria-invalid attribution", I think this is a typo, and should read "No fields have the aria-invalid attribute"

[2019-11-12 21:30] EmmaJP commented on #136
Actually, because the documentation is unclear I don't know if my expectations are correct. I think it would be good to work out what the expected behaviour should be in regard a BBC GEL carousel, document that more precisely, then ensure the demo behaves in line with what is documented.

I'm not sure it would be possible to split that, as any change to the demo would be dependent on what behaviou

[2019-11-13 10:12] Heydon commented on #136
@EmmaJP @micmath

The documentation describes how `IntersectionObserver` (hwere supported) ensures only visible items are focusable / perceivable by screen reader. This is described in the documentation:

If the next list item is not in view, naturally the next element in focus order will be _after_ the carousel component. This is by design, and solves the problem you described in your bug report:

[2019-11-13 10:27] micmath commented on #136
@Heydon One issue that has translated into a question on our internal support channels is about the _intented_ function of setting some elements to inert. It took me a while to understand the question, but it became clear when someone pointed to the implemented keyboard behaviour of the carousel on iPlayer:

1. Press [TabKey] to move focus into the carousel, the [NextButton] is highlighted.
2. Use

[2019-11-13 10:30] micmath commented on #136
Mixed into the above work is a confounding coincidence that there is also a bug in the demo, so that focus does not move as intended, but as I said before I think (once the two are picked apart) that task should be it's own separate issue.

[2019-11-13 10:34] Heydon commented on #136
@micmath @EmmaJP Yeah, I think it would definitely benefit from a full description of the keyboard "journey". I think the ommission there may have been what tripped Emma up.

[2019-11-13 10:38] micmath commented on #136
It so happens @JamieKnightBBC is working on a way to diagram keyboard journeys, which would suit this issue _very nicely_ indeed. @Heydon we should talk off GitHub about commissioning you to help define that if you are interested. (I'll email you.)

[2019-11-13 10:43] Heydon commented on #136
@micmath Sure!

I was _just_ thinking we need a standard way to do that. Could add a section to each component.

[2019-11-20 13:42] greenc05 commented on #121
Not sure that was the issue @simonsinclair though thanks for looking

Guess we should take the write up as the source of truth rather than the reference implementation

[2020-01-02 10:12] #91 closed

[2020-01-02 10:53] #139 closed

[2020-01-02 10:59] #138 closed

[2020-01-02 11:13] #137 closed

[2020-01-02 11:18] micmath commented on #134
Appears to already be fixed on https://bbc.github.io/gel/components/masthead/ so closing.

[2020-01-02 11:18] #134 closed

[2020-01-02 11:29] #61 closed

[2020-01-02 13:04] micmath commented on #20
We essentially tried to follow the example of Wikipedia for our footnotes, so I shouldn't have been surprised to see that their webpages show the same issue.
![IMG_20200102_125932](https://user-images.githubusercontent.com/81645/71668295-3b1ba800-2d60-11ea-91fa-5d04466c5326.jpg)

It's hard for me to conceive of a possible solution, let alone find any research on what the best practice is here. I w

[2020-01-02 13:17] micmath commented on #20
Hugo Giraudel may have a better way to do it, and it's all CSSy! see https://www.sitepoint.com/accessible-footnotes-css/

![IMG_20200102_131047__02](https://user-images.githubusercontent.com/81645/71668780-27714100-2d62-11ea-9146-110cf0e847ef.jpg)

[2020-01-02 13:26] micmath commented on #20
I note the final line of that article... :-)

@Heydon

[2020-01-02 14:00] micmath commented on #20
Before we settle on a solution it is worth noting that the implementation will be in MarkDown, since all our content is authored in that format, and is then transformed into HTML. Below are code examples of how we currently author footnotes in MarkDown and a couple possible alternatives.

NB given the CSS ninja moves referenced in the article cited above, I expect we can make all the possible impl

[2020-01-02 14:04] micmath commented on #20
Some prior art in the syntax here: https://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html#citation_syntax

[2020-01-02 17:28] micmath commented on #20
Okay, it was possible to extend the markdown parser we were using to render footnotes which allow for text to be included footnote link: https://github.com/micmath/markdown-it-footnote/blob/master/README.md

Using that fork it will be possible to enhance a footnote reference from this:

[code]
To this:
[code]

In this case the text "keyboard navigation" will be included in the text of the link to

[2020-01-03 00:08] #20 closed

[2020-01-03 10:23] #72 closed

[2020-01-03 10:43] micmath commented on #38
I can't find any examples of this issue that still exist, so closing until specific existing examples can be identified.

[2020-01-03 10:43] #38 closed

[2020-01-03 10:45] #35 closed

[2020-01-03 10:48] micmath commented on #25
I can't find any existing examples of this left, so closing. Reopen if you find specifics.

[2020-01-03 10:48] #25 closed

[2020-01-03 15:16] micmath commented on #110
Closing as no further activity in the 6 months since it was opened.

[2020-01-03 15:16] #110 closed

[2020-01-03 15:17] micmath commented on #22
Closing as no activity in over a year since opened.

[2020-01-03 15:17] #22 closed

[2020-01-03 15:35] micmath commented on #40
The following issues  no longer apply (text has already been changed):

[2020-01-03 15:35] micmath commented on #40
I've added a footnote for

[2020-01-03 15:39] micmath commented on #40
This seems like general advice that could conceivably apply to every piece of documentation we produce. It isn't related specifically to Promos, versus say Carousels. rather than adding such a note to every page, I think we should implement this as part of the `bbc/gel-check` project, which aims to present the GEL technical documentation in terms of testing.

[2020-01-03 15:41] #40 closed

[2020-01-03 15:46] micmath commented on #41
This issue will be closed due to lack of activity for over a year. If you wish to keep it open please comment on a _specific outstanding action_ you think needs to be worked on.

[2020-01-03 15:56] #45 closed

[2020-02-05 18:00] sbeaumontweb opened #145 "Documentation required to address Safari list-style affecting list role"
Hullo all.

Whilst creating accessible components that use list elements styled with `list-style:none;`, we have noted that VO with Safari will no longer announce the element as a list, nor the elements within it as list items. It would appear that using this CSS property in Safari affects the role that the list has in the a11y tree. There are a couple of ways to get around this:

1. When using a

[2020-02-25 13:25] ab11y opened #146 "Forms error message aria-described by"

[2020-02-25 13:28] #146 closed

[2020-02-25 13:43] micmath opened #147 "Forms error message aria-described by"
via @JamieKnightBBC ... When the error message is populated in the reference implementation, there should be an `arai-live` role to announce the change rather than relying on the screen reader noticing a change only via `aria-described-by`.

[2020-06-17 12:39] wardav opened #149 "Pagination - focus indication same as selected state"
The numbered pagination on https://bbc.github.io/gel/components/demos/load-more-paginated/ has focus indication that is identical to the selected page itself.

This can be confusing, particularly when using screen magnification.

For example, knowing when the current page link is receiving keyboard focus, as they are no visual change to the link.

As well, differentiating the page link that is rec

[2020-08-28 16:11] EmmaJP opened #151 "Info panel behaviour with screen reader navigating"
LauraB asked questions via Slack because the [info panel demo](https://bbc.github.io/gel/components/demos/info-panels/) was inconsistent with her understanding of the [documentation](https://bbc.github.io/gel/components/info-panels/). Specifically, when navigating forward from the last content element of the info panel using the screen reader controls, rather than keyboard tab, the info panel did

[2020-08-28 16:16] EmmaJP opened #152 "How does a contributor raise an issue or contribute?"
I could not find any links to this Github from anywhere in the https://bbc.github.io/gel/ website. Not even from the less obviously signposted [contributors page](https://bbc.github.io/gel/contributors/).

Also, the very obviously signposted survey at the bottom of the homepage is "now closed".

How does someone (eg. a BBC dev or champion) feedback on or contribute to the content of the site?

[2020-09-01 08:19] micmath commented on #152
Thanks Emma,

Over-literal Michael speaking => I'm assuming you are asking that question rhetorically as a way to point out that there aren't any guidelines for what the _project policy and preferences_ are for this issue, since you yourself have already provided feedback on or contributed to the content of this site multiple times now. In which case would you rename this issue to something more a

[2020-09-01 08:23] micmath commented on #151
@Heydon does that seem like an unintended behaviour (sometimes pronounced "bug") to you?

[2020-09-01 09:59] EmmaJP commented on #152
Actually, it was a much more literal question...

How does someone find the github in order to contribute?

I'm fortunate to have BBC github access and know the name of the repo, and it was still a helluva round the houses route in to create this issue. If the this repo is intended to be open source, surely we should make the route to do so a little less difficult.

[2020-09-01 10:11] micmath commented on #152
It's a public repo, so anyone can view anything -- this thread for example -- and _anyone_ with a github account can create an issue, inside or outside The BBC org. So, in regards to findability, you could always [Google It](https://www.google.com/search?q=bbc+gel+technical+documentation). But I'm confused about what you would suggest: is there some idea you have that would make it more findable?

[2020-09-01 10:25] micmath commented on #152
On the premise that findability would benefit from having a Contributor's Page, I'm starting a list of example CPs that we can use as a model, please feel free to add:

* https://docs.kinto-storage.org/en/stable/community.html#how-to-contribute
* https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md
* https://github.com/pixijs/pixi.js/blob/dev/.github/CONTRIBUTING.md

[2020-09-01 10:27] micmath commented on #152
We could add a link to the Contributor's Page in the footer of our documentation site, for example.

[2020-09-01 11:03] EmmaJP commented on #152
How does someone less in-the-know get from https://bbc.github.io/gel/ to https://github.com/bbc/gel? A Google search seems a rather scenic route.

I suggest that https://bbc.github.io/gel/contributors/ should have a direct link to https://github.com/bbc/gel to encourage the welcomed feedback. Perhaps the following existing sentence could be modified and include a link:

"To open a pull request ple

[2020-09-01 11:07] EmmaJP commented on #152
Apologies that the wording when I raised this issue wasn't clearer.

[2020-09-01 11:15] micmath commented on #152
I didn't immediately connect that there was a difference between "the repo" and the documentation site -- in my head the documentation site is _in the repo_, so I was confused how anyone viewing the site wouldn't be able to find the repo. The penny dropped though, and I see what you mean :)

[2020-09-01 13:30] micmath commented on #151
Am I right that "navigating forward ... using the screen reader controls" does _not_ move DOM focus in such a way that can be detected with JS? Referring to...

So in the original post, when you say "navigating... using the screen reader controls" is that reading content from the virtual buffer? As opposed to moving DOM cursor focus to a new focusable element in the visible page? If it is in the v

[2020-09-01 16:02] EmmaJP commented on #151
When trying out VoiceOver on this Github page via Chrome browser, the screen reader control seems to move focus with it, but keyboard tabbing did not appear to take the screen reader with it, which was unexpected!

When trying out VoiceOver on this page via Safari, the screen reader control moves the tabindex focus whenever it moves to an interactive element, and keyboard tabbing also moves the sc

[2020-09-01 16:44] micmath commented on #151
Cite: https://webaim.org/discussion/mail_thread?thread=8526

and...

So it seems like part of the issue is _by design_ in that it can be fixed by the user setting their keyboard focus to follow their virtual cursor, but that for various reasons this is undesirable, so we land on a situation where we cannot detect if the screen reader cursor has left the info panel which is non-ideal but less worse

[2020-09-01 16:45] micmath commented on #151
And a related project experiencing this pain: https://github.com/wet-boew/wet-boew/issues/5009 (is worth a read)

[2020-09-01 16:55] micmath commented on #151
mentions @laurabond

[2020-09-02 09:02] Heydon commented on #151
I believe this is because the panel closes when it (the last interactive element inside it, in fact) loses focus / is blurred. This event would not be triggered by screen reader virtual cursor navigation. Might need to also close the panel on a down arrow event on that last interactive element.

[2020-09-02 10:35] micmath commented on #151
@Heydon couldn't that be fragile, given the myriad kinds of content that could be in an info-panel? I'm thinking of scenarios where hijacking the down-arrow event wouldn't be possible or would be unexpected at least. I happened to ask @IanPouncey about this and he suggested that your existing `<ESC>` key behaviour should be sufficient affordance for this use case.

I'm still inclined to mark this

[2020-09-02 10:42] #147 closed

[2020-09-02 11:47] EmmaJP commented on #151
I think I'm in the camp of adding a sentence or two into the documentation that explains that screen reader navigation may behave a little differently to tabbing, and why. It might also increase awareness of the different cursors and how they affect :focus, something I've had to explain several times this year.

[2020-09-02 12:15] Heydon commented on #151
@micmath  I agree. I forgot about the ESC key support. I was addressing it as if it's a bug, but actually I can't think of any implementations (for any kinds of patterns) that address this specific discrepancy between keyboard-only and screen reader behavior.

+1, @EmmaJP

[2021-02-02 16:02] jfhector opened #155 "form-fields: After a first failed submission, if user submits again before resolving all errors, no live announcement gets made"
### How to reproduce

1. Go to https://bbc.github.io/gel/components/demos/form-fields/
2. Turn on screen reader
3. Activate the 'Submit' button (without filling in any of the fields)
4. Correct one of the errors (but not all of them)
5. Activate the 'Submit' button again

### Expected behaviour

I expected the "Error: Please fix the errors in the form before continuing" live announcement to be mad

[2021-02-03 11:22] micmath commented on #155
To clarify, text and the visual display of the message are working as expected, the issue to fix is the fact that the message is not re-announced by SR on subsequent failed submits.

[2021-02-03 11:57] micmath commented on #155
The suggestion of emptying the live region for a moment before setting the new text seems to work in forcing the SR to re-announce the text, even if it is the same text. see https://jsfiddle.net/qvy9Lxwj/

[2021-02-03 12:01] micmath commented on #155
The place to fix seems to be https://github.com/bbc/gel/blob/733a0323e93d87eafb6dff85f33dab6a428d7dbd/src/_includes/js/components/gel-validation.js#L74

[2021-03-08 21:05] mgifford opened #157 "What license is this released under?"
Hopefully it's under the MIT or GPL or something open source.

That said, it isn't in the README and there is no LICENCE file.

[2021-03-09 10:46] micmath commented on #157
Are you asking about the code used to generate the documentation (this project) or the documentation itself which can be found here: https://bbc.github.io/gel/

The _documentation itself_ "is published under the Open Government Licence," as stated at the bottom of every page.

The code _to generate_ the documentation is mostly `eleventy` and `md` which is hacked together with some scripts wot we w

[2021-03-09 10:54] micmath commented on #157
Also, and I can't emphasize this enough -- it is literally stated on every page of the documentation, the example code we use in the documentation is for illustration purposes only: *it is not a library*. We optimised those code snippets for clarity  in order to best communicate specific concepts, it is left to the reader to integrate those concepts into their own framework. We don't claim copyrig

[2021-03-09 13:37] mgifford commented on #157
Right..  I was expecting it to be here https://github.com/bbc/gel

I just wasn't looking in the right place.

My main goal was to make sure I could add it here https://accessibility.civicactions.com/guide/design

Just want to point folks to some best practices out there.  BBC has initiated so many in the accessibility space.

[2021-03-09 18:02] #157 closed

[2021-06-30 16:48] sbeaumontweb opened #162 "Code snippets are not scrollable by keyboard users"
![Screenshot 2021-06-30 at 17 39 43](https://user-images.githubusercontent.com/6414479/123999395-60778980-d9ca-11eb-9ad4-1705a235eab3.png)

Proposing fix by adding a `tabindex` to the code blocks to allow sideways scrolling to make content readable for keyboard users when it overflows.

[2021-07-20 20:37] ShuyiOlutimi opened #163 "INCONSISTENT CODE AND NOTES + TYPOGRAPHICAL ERROR IN 'CAROUSELS' PAGE"
In the 'Notes' section explaining Carousels at https://bbc.github.io/gel/components/carousels/, there is an issue.

The Gel SVGs in the 'Recommended Markup' have the dual attributes of aria-hidden="true" and **focusable="false"**
![image](https://user-images.githubusercontent.com/67969208/126391532-c2daaf99-b438-42f1-b487-ec0cd865f623.png)

However the 'Notes' explaining the markup notes that the

[2022-04-12 16:35] DanCorderSoftwire opened #168 "Site-menu docs possible issues"
I may be misunderstanding but it looks like there might be a couple of issues in the site-menu documentation and demo:

- https://github.com/bbc/gel/blob/master/docs/components/site-menu/index.html line 144. I found the "hidden" here confusing as I don't think it's part of the initial HTML, but is instead added by JS, and it's important that it isn't there if JS is disabled.
- https://github.com/b

[2022-06-24 17:02] sbeaumontweb opened #170 "Allow direct branches and pull requests from BBC staff"
The GEL technical guides are pieces of documentation that detail recommended, accessible implementation approaches for GEL components. When GEL patterns are updated, either through UX or engineering, the GEL technical docs should also be updated to reflect the changes.

Currently, as this is a public repository, it is necessary for those without write access to fork the repo in order to raise a pu